.main {
  margin-left: 280px;
  padding: 62px 37px;
}
.title {
  text-align: center;
  color: #1b1b1b;
  font-size: 48px;
  font-weight: 400;

  letter-spacing: -0.96px;
}
.title__container {
  display: block;
  border-bottom: 1px solid #eaecf0;
  padding-bottom: 27px;
  margin-bottom: 32px;
}
.state {
  padding-top: 48px;
  padding-bottom: 48px;
  margin-bottom: 22px;
}
.state__list {
  display: flex;
  gap: 110px;
  align-items: center;
}
.item__state {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.item__state-active::after {
  content: "";
  display: block;
  width: 100px;
  border-bottom: 1px dashed #1fc0ae;
  position: absolute;
  top: 40%;
  right: -150%;
}
.item__state-active--gray::after {
  content: "";
  display: block;
  width: 100px;
  border-bottom: 1px dashed gray;
  opacity: 0.2;
  position: absolute;
  top: 40%;
  right: -150%;
}
.state__container::before {
  content: "";
  display: block;
  width: 72px;
  height: 72px;
  border-radius: 72px;
  border: 1px solid #8e99ab;
  background: #eaecf0;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.state__container-active::before {
  content: "";
  display: block;
  width: 72px;
  height: 72px;
  border-radius: 72px;
  border: 1px solid #8e99ab;
  background: #1fc0ae;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.state__text {
  color: #1b1b1b;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.28px;
}
.base__information {
  display: flex;
  gap: 24px;

  margin-bottom: 22px;
}
.information,
.distance {
  display: block;
  width: 508px;

  border-radius: 12px;
  background: #fff;

  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.information {
  padding: 17px;
}
.distance {
  padding: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.distance__subtitle {
  margin-bottom: 6px;
  color: #1fc0ae;
  font-size: 24px;

  font-weight: 800;
  line-height: 32.883px;
}
.distance__text {
  color: #1fc0ae;

  font-size: 14px;

  font-weight: 400;
  line-height: 24px;
}
.distance__img {
  width: 109.519px;
  height: 70.798px;
}
.base__information-subtitle {
  margin-bottom: 23px;
  color: #1b1b1b;
  font-size: 20px;

  font-weight: 500;
  line-height: 27px;
}
.base__information-text {
  color: #1b1b1b;
  font-size: 16px;

  font-weight: 500;
  line-height: 24px;
}
.information__text {
  color: #8e99ab;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.information__container {
  display: flex;
  justify-content: space-between;
}
.information__container-number {
  margin-bottom: 12px;
}
